body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    block-size: 100vh;
}

canvas {
    background-color: black;
    display: block;
    z-index: 11;
}

.controls {
    position: absolute;
    inset-block-start: auto;
    inset-block-end: 0;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    color: white;
    font-family: Arial, sans-serif;
    inline-size: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

.controls label {
    display: block;
    margin-block-end: 5px;
}

.controls input[type="range"],
.controls input[type="color"],
.controls select,
.controls button {
    margin-block-start: 2px;
}

.controls button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
